[submodule "ssdd/revealjs"]
	path = ssdd/revealjs
	url = https://github.com/hakimel/reveal.js.git
[submodule "ssdd/rajgoel-plugins"]
	path = ssdd/rajgoel-plugins
	url = https://github.com/rajgoel/reveal.js-plugins.git
[submodule "ssdd_doctor/reveal.js"]
	path = ssdd_doctor/reveal.js
	url = https://github.com/hakimel/reveal.js.git
