/**
 * Custom training CSS, to practise a bit the Reveal.js back-end of AsciiDoctor
 */

/*400,700,800,400*/
@import 'http://fonts.googleapis.com/css?family=Neuton:400,700,800,400italic';
@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";

/* Use Google Neuton font for the text of all slides */
.reveal {
	font-family: 'Neuton', sans-serif;
        border: 0px solid blue;
	margin: 1px;
        
         
}

/* Use Google Neuton font for the titles of all slides */
.reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 'Neuton', sans-serif;
    font-size: 0.8em;
}


/* CODE */


/* Customization of the code elements on the model of DZSlides */

/*
.reveal section *:not(pre) > code {   ---> elemento CODE que no es hijo del elemento PREFORMATED (TEXTO LITERAL ----)
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    color: #6D180B;
    border: 1px solid #CCC;
    background-color: #F2F2F2;
    white-space: nowrap; -> sin SALTOS DE LINEA
    padding: 1px 3px 0;
    font-size: 0.4em;
    border-radius: 4px;
}
*/

.reveal pre code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    color: #EEEE0B; /* amarillo*/
    padding: 1px 3px 0;
    border: 1px solid #ccc;
    font-size: 0.4em;
    line-height: 1.5em;
}


.admonitionblock .content {
    text-align: justify;
}

.admonitionblock table{
	margin-left: 0px
}
.admonitionblock td {
    text-align: center;
    font-size:36px;
}

.admonitionblock td.icon{
    width:80px;
    text-align: center;
    color:#19407c
}

.admonitionblock table td.content{
	padding-left:1.125em;
	padding-right:1.25em;
	border-left:1px solid #dddddf;
	color:rgba(0,0,0,.6)
}






/* EL CONTENIDO A LA IZDA: imagenes incluidas*/
/* if we want all slides to be left-aligned */ 
.reveal p  { 
        margin-left: 1.0em;
	font-size: 0.6em;
	text-align: left; 
        padding: 1px;
}

section[data-state="txikiago"] p {
    font-size: 0.6em;
    line-height: 1;

/* Anulo los bordes de las imagens que crea el THEME importado */
.reveal section img {
    border: none;
    box-shadow: none;
/*  especificar el tamaño de los pies de figura*/
}

.reveal .slides section figcaption {
	font-size: 0.2em;
}


/* TAULAK */

section[data-state="taula"] table {
    font-family: 'Neuton', sans-serif;
    font-size: 0.5em;
    margin-top: 0em;
}

section[data-state="taula_txi"] table {
    font-family: 'Neuton', sans-serif;
    font-size: 0.4em;
    margin-top: 0.4em;
    padding: 0.1em;
    background: #f8f8f7;
}

section[data-state="taula_ta"] table  {
    font-family: 'Neuton', sans-serif;
    font-size: 0.7em;
    margin-top: 0.1em;
    padding: 0.01em;
    background: #f8f8f7;
}
.reveal thead th,
.reveal tfoot th {
  font-family: "Rock Salt", cursive;
}

.reveal th {
  letter-spacing: 2px;
}

.reveal td {
  letter-spacing: 1px;
  padding: 0px;
  border:0px;
  margin:0px;
}

.reveal tbody td {
  text-align: center;
}

.reveal tfoot th {
  text-align: right;
}

/*LISTAS*/

.reveal li {
	font-family: 'Neuton', sans-serif;
	text-align: left;
	text-indent: 1px;
	font-size: 0.80em;
	font-weight: 400;
	padding:0.0em;
	border:0px;
	margin:0px;
}

section[data-state="ul-txikia"] ul {
	font-family: 'Neuton', sans-serif;
	text-align: left;
	text-indent: 1px;
	font-size: 0.40em;
        line-height: 1;
	font-weight: 400;
	padding:0.0em;
	border:0px;
	margin:0px;
}

.reveal ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin: 0px;
}

/*COLUMNAS*/


.reveal .zutabe {
  position: relative;
  font-size: 0.6em;
  top: 1px;
  left: 0.5em;
}

/* a class selector, to custom some given text using the syntax "[CYAN]#some text#" */
.CYAN {
    color: cyan;
}

.myOrange {
    color: #FF6A00;
}

.naranja {
    color: #FF6A00;
}

.azul {
    color: #0000FF;
}

.verde {
    color: #00FF00;
}

.reveal latexmath {
  font-size: 0.6em
}
